# PyCity Schools Analysis

- Your analysis here
  
---

In [2]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load ="Resources/schools_complete.csv"
student_data_to_load ="Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [3]:
# Calculate the total number of unique schools
schools_count = len(schools_data_complete_df["school_name"].unique())

NameError: name 'schools_data_complete_df' is not defined

In [6]:
# Calculate the total number of students
student_count =school_data_complete_df["School ID"].count()

In [9]:
# Calculate the total budget
total_budget = school_data_df["budget"].sum()
print(school_count)
print(student_count)
print(total_budget)

NameError: name 'school_count' is not defined

In [10]:
# Calculate the average (mean) math score
average_math_score = school_data_complete_df["math_score"].mean()
print(average_math_score)

78.98537145774827

In [11]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete_df["reading_score"].mean()
print(average_reading_score)

81.87784018381414

In [12]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [17]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count =  school_data_complete_df[(school_data_complete_df["reading_score"]>=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [18]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete_df[
    (school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [22]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary_df = pd.DataFrame(
[{"Total Studenst":student_count,
 "Total Budget":total_budget,}])


# Formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary_df

KeyError: 'Total Students'

## School Summary

In [23]:
# Use the code provided to select all of the school types
school_types =school_data_df.set_index(["school_name"])["type"]

In [25]:
# Calculate the total student count per school
per_school_counts = school_data_complete_df["school_name"].value_counts()

In [27]:
# Calculate the total school budget and per capita spending per school
per_school_budget =school_data_complete_df.groupby(["school_name"]).mean()["budget"] 
per_school_capita = per_school_budget / per_school_counts

C:\Users\user\AppData\Local\Temp\ipykernel_3284\4053879809.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_school_budget =school_data_complete_df.groupby(["school_name"]).mean()["budget"]

In [28]:
# Calculate the average test scores per school
per_school_math =per_school_passing_math.groupby(["school_name"]).mean()["math_score"] 
per_school_reading =school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

C:\Users\user\AppData\Local\Temp\ipykernel_3284\1827665061.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_school_math =school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
C:\Users\user\AppData\Local\Temp\ipykernel_3284\1827665061.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_school_reading =school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [32]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete_df[(school_data_complete_df["math_score"]>=70)]
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()

In [34]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"]>=70)] 
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()

In [36]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete_df[
    (school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [37]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [40]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary_df = pd.DataFrame({
    "School Type":per_school_types,
    "Total Students":per_school_counts,
    "Total School Budget":per_school_budget,
    "Per Student Budget":per_school_capita,
    
})

# Formatting
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary_df

NameError: name 'per_school_types' is not defined

## Highest-Performing Schools (by % Overall Passing)

In [42]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_5_schools_df =per_school_summary_df.sort_values(["% Overall Passing"],ascending=False) 
top_5_schools.head(5)

NameError: name 'per_school_summary_df' is not defined

## Bottom Performing Schools (By % Overall Passing)

In [43]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_5_schools_df= per_school_summary_df.sort_values(["% Overall Passing"],ascending=True) 
bottom_schools_df.head(5)

NameError: name 'per_school_summary_df' is not defined

## Math Scores by Grade

In [44]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores =ninth_graders.groupby(["school_name"]).mean(["math_score"])
tenth_grader_math_scores = tenth_graders.groupby(["school_name"]).mean(["math_score"])
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"]).mean(["math_score"])
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"]).mean(["math_score"])

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DatFrame({
    "9th":ninth_grade_math_scores,
    "10th":tenth_grade_math_scores,
    "11th":eleventh_grade_math_scores,
    "12th":twelfth_grade_math_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

AttributeError: module 'pandas' has no attribute 'DatFrame'

## Reading Score by Grade

In [45]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores =ninth_graders.groupby(["school_name"]).mean()["reading_score"] 
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"] 
eleventh_grader_reading_scores =eleventh_graders.groupby(["school_name"]).mean()["reading_score"]  
twelfth_grader_reading_scores =twelfth_graders.groupby(["school_name"]).mean()["reading_score"] 

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DateFrame({
    "9th":ninth_grade_reading_scores,
    "10th":tenth_grade_reading_scores,
    "11th":eleventh_grade_reading_scores,
    "12th":twelfth_grade_reading_scores})


# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

C:\Users\user\AppData\Local\Temp\ipykernel_3284\1388867522.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ninth_grade_reading_scores =ninth_graders.groupby(["school_name"]).mean()["reading_score"]
C:\Users\user\AppData\Local\Temp\ipykernel_3284\1388867522.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tenth_grader_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
C:\Users\user\AppData\Local\Temp\ipykernel_3284\1388867522.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  eleventh_grader_reading_scores =eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
C:\Users\user\AppData\Local\Temp\ipykernel_3284\1388867522.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  twelfth_grader_reading_scores =twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

AttributeError: module 'pandas' has no attribute 'DateFrame'

## Scores by School Spending

In [1]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [2]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

NameError: name 'per_school_summary' is not defined

In [3]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita,spending_bins,labels)
school_spending_df

NameError: name 'pd' is not defined

In [5]:
#  Calculate averages for the desired columns. 
spending_math_scores = per_school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = per_school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = per_school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = per_school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = per_school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

NameError: name 'per_school_spending_df' is not defined

In [28]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

In [6]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [7]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Student"],size_bins,labels=group_names) 
per_school_summary_df.tail(1)

NameError: name 'pd' is not defined

In [9]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary_df.groupby(["School Size"])["% Overall Passing"].mean()

NameError: name 'per_school_summary_df' is not defined

In [32]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

In [33]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary_df.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary_df.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary_df.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary_df.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary_df.groupby(["School Type"])["% Overall Passing"].mean()

In [11]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary_df = pd.DataFrame({
    "Average Math Score":type_math_scores,
    "Average Reading Score":type_reading_scores,
    "% Passing Math":type_passing_math,
    "% Passing Reading":type_passing_reading,
    "% Overall Passing":type_overall_passing})


# Display results
type_summary_df

NameError: name 'pd' is not defined